<div class="col-xs-12 col-sm-12 col-md-12" id="header">

	<h1 class="bg-primary" id="afshinheader">TELEGRAM BOT - AFSHIN ZEHTAB</h1>

	<p class="bg-warning" id="photo-warning">You should just know that you can write in this TextBox only 200 characters. If your characters are more that 200 you will get Error.</p>

	<p class="bg-warning" id="photo-warning">And your Video fromat must be MP4 , the other fromat you should send as Document</p>

	<p class="bg-warning" id="text-warning">You Can Use Them => ▶︎ *bold text* ◀︎|▶︎ _italic text_ ◀︎|▶︎ [text](URL) ◀︎|▶︎ `inline fixed-width code` ◀︎|▶︎ ```pre-formatted fixed-width code block``` ◀︎</p>

</div>
