.sign-up {
	background: #337ab7;
	color: #fff;
	margin-top: 0px;
  	text-align: center;
  	font-size: 40px;
  	padding: 20px;
  	text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                  0px -5px 35px rgba(255,255,255,0.3);
}

.login {
	background: #337ab7;
	color: #fff;
	margin-top: 0px;
  	text-align: center;
  	font-size: 40px;
  	padding: 20px;
  	text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                  0px -5px 35px rgba(255,255,255,0.3);
}

.forgetpass {
  background: #337ab7;
  color: #fff;
  margin-top: 0px;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                  0px -5px 35px rgba(255,255,255,0.3);
}

.edituser {
  background: #337ab7;
  color: #fff;
  margin-top: 0px;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                  0px -5px 35px rgba(255,255,255,0.3);
}